torch~=2.2.2
wandb~=0.17.2
datasets~=2.19.2
diffusers~=0.28.2
transformers~=4.41.2
numpy~=1.26.4
accelerate~=0.31.0
tqdm~=4.66.4
pillow~=10.3.0
torchaudio~=2.2.2
librosa~=0.10.2.post1
matplotlib~=3.9.0